    header {
        position: fixed;
        background-color: white;
        opacity: 0.7;
    }

    #myName {
        font-family: "Pacifico", cursive;
        color: black;
        letter-spacing: 1px;
    }

    .nav-item {
        font-weight: bold;
    }

    .nav-link:hover {
        color: #0c005c !important;
    }

    @media screen and (max-width: 800px) {

        #myName {
            margin-top: 12px;
        }

        #back {
            margin-top: 13px;
            margin-left: 75px;
            position: absolute;
        }
    }