* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abyssinica SIL', serif;
}

$textcolor: black;
$textSize: 1.1rem;
$headingColor: #500;
$headingSize: 2.1rem;
$boxWidth: 70vw;
$boxShadow: #00000059 0px 5px 15px;
$bgi: linear-gradient(to bottom right, #ffffff, #1e1b32) !important;

body {
    overflow-x: hidden;
    background-image: $bgi;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-size: contain;
    padding-top: 100px;
    color: $textcolor;

    .container {
        background: linear-gradient(90deg, #d3cdcd 70%, #ff9900 30%);
        height: 84vh;
    }


    >* {
        box-shadow: $boxShadow;
    }

    section {
        width: 85vw;
        display: flex;
        align-items: center;
        border-radius: 10px;
        background-color: #d3cdcd;


        .main {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            height: 70%;
            width: 60%;
            align-items: center;
            border-radius: 1%;
            padding: 20px;
            gap: 10%;

            >* {
                padding: 10px;
            }
        }
    }

}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #F4F9FC;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #ff9900);
    border-radius: 20px;
}

@media screen and (max-width: 800px) {
    .container {
        height: 97vh !important;
        background: #d3cdcd !important;
    }
}