* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abyssinica SIL", serif;
}

body {
  overflow-x: hidden;
  background-image: linear-gradient(to bottom right, #ffffff, #1e1b32) !important;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-size: contain;
  padding-top: 100px;
  color: black;
}
body .container {
  background: linear-gradient(90deg, #d3cdcd 70%, #ff9900 30%);
  height: 84vh;
}
body > * {
  box-shadow: rgba(0, 0, 0, 0.3490196078) 0px 5px 15px;
}
body section {
  width: 85vw;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #d3cdcd;
}
body section .main {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 70%;
  width: 60%;
  align-items: center;
  border-radius: 1%;
  padding: 20px;
  gap: 10%;
}
body section .main > * {
  padding: 10px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #F4F9FC;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #ff9900);
  border-radius: 20px;
}

@media screen and (max-width: 800px) {
  .container {
    height: 97vh !important;
    background: #d3cdcd !important;
  }
}
#scrollspyTop p span {
  color: #ff9900;
  font-weight: bold;
}

#right-hero img {
  margin-top: -14.399vh;
}

#aboutMe {
  height: 11vh;
}

.changecontent {
  height: 10vh;
}

.changecontent::after {
  content: " ";
  color: #ff9900;
  font-weight: bold;
  font-size: 40px;
  animation: changetext 20s infinite linear;
}

@keyframes changetext {
  0% {
    content: "Fullstack Developer";
  }
  20% {
    content: "SASS Web Designer";
  }
  40% {
    content: "YouTuber";
  }
  100% {
    content: "Bootstrap Web Designer";
  }
}
@media screen and (max-width: 800px) {
  #aboutMe {
    font-size: 35px;
    height: 7vh;
  }
  .changecontent {
    margin-left: 16px;
    height: 10vh;
  }
  .changecontent::after {
    font-size: 30px;
  }
  #aboutMe2 {
    margin-top: -3vh;
  }
  #right-hero img {
    height: 50vh;
    margin-top: 36.032vh;
    margin-left: 6vw;
  }
  #left-hero {
    margin-top: -12vh !important;
    position: absolute;
  }
}
#scrollspyTop #hero {
  background: none;
  justify-content: space-around;
}
#scrollspyTop #hero .container,
#scrollspyTop #hero .containerProjects {
  margin: 0;
  width: 100%;
  max-width: 100%;
  padding: 100px;
}
#scrollspyTop #hero .container .row,
#scrollspyTop #hero .containerProjects .row {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  gap: 100px;
}
#scrollspyTop #hero .container .row #right-hero,
#scrollspyTop #hero .container .row #left-hero,
#scrollspyTop #hero .containerProjects .row #right-hero,
#scrollspyTop #hero .containerProjects .row #left-hero {
  min-width: 300px;
  width: 40%;
  border-radius: 10px;
}
#scrollspyTop #hero .container .row #right-hero,
#scrollspyTop #hero .containerProjects .row #right-hero {
  padding: 0;
}
#scrollspyTop #hero .container .row #left-hero,
#scrollspyTop #hero .containerProjects .row #left-hero {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: -8rem;
}

#buttonsForm,
#buttons > a {
  position: relative;
  background: #fff;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 10px 30px;
  transition: 0.5s;
}

#buttonsForm,
#buttons a:hover {
  background: var(--clr);
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px var(--clr);
}

#buttonsForm,
#buttons > a:before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #27282c;
}

#buttonsForm,
#buttons > a span {
  position: relative;
  z-index: 1;
}

#buttons > a i {
  position: absolute;
  inset: 0;
  display: block;
}

#buttons > a i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: #27282c;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

#buttons > a:hover i::before {
  width: 20px;
  left: 20%;
}

#buttons > a i::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background: #27282c;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

#buttons > a:hover i::after {
  width: 20px;
  left: 80%;
}

@media only screen and (max-width: 1500px) {
  #scrollspyTop #hero .container .row {
    gap: 30px;
  }
  #scrollspyAbout #about .main {
    display: flex;
    flex-direction: column !important;
  }
}
@media screen and (max-width: 800px) {
  #buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
  }
}
#about {
  text-align: center;
  justify-content: flex-start;
}
#about div.main {
  width: 100%;
}
#about div.main div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#about div.main #left {
  width: 50%;
}
#about div.main #right {
  display: flex;
  align-items: center;
  gap: 10%;
}
#about div.main #right p {
  align-self: self-start;
}
#about div.main #right button {
  min-width: 100px;
  height: auto;
}
#about #aboutMe3 {
  text-align: justify;
}

header {
  position: fixed;
  background-color: white;
  opacity: 0.7;
}

#myName {
  font-family: "Pacifico", cursive;
  color: black;
  letter-spacing: 1px;
}

.nav-item {
  font-weight: bold;
}

.nav-link:hover {
  color: #0c005c !important;
}

@media screen and (max-width: 800px) {
  #myName {
    margin-top: 12px;
  }
  #back {
    margin-top: 13px;
    margin-left: 75px;
    position: absolute;
  }
}
#contact {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#contact .main {
  flex-wrap: wrap;
  justify-content: center;
}
#contact .main .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  height: 100%;
  max-width: 30%;
  min-width: 200px;
}
#contact .main .right {
  min-width: 200px;
}
#contact .main .right form {
  display: flex;
  flex-direction: column;
  text-align: left;
}
#contact .main .right form .form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4%;
  margin-bottom: 10px;
}
#contact .main .right form .form-group .input-group {
  display: flex;
  flex-direction: row;
  gap: 4%;
}
#contact .main .right form .form-group .input-group #phone-number-code-list {
  text-align: right;
  width: 23%;
}
#contact .main .right form .form-group .input-group #phone-number-code-list option {
  text-align: left;
}
#contact .main .right form .form-group .input-group input {
  width: 73%;
}
#contact .main .right form .form-group label {
  margin-right: 60%;
  margin-bottom: 0;
  min-width: 110px;
}
#contact .main .right form .form-group textarea {
  max-height: 100px;
}
#contact .main .right form button {
  margin-top: 5%;
  width: 70%;
  align-self: center;
  height: 50px;
}
#contact #right-contact {
  display: flex;
  min-width: 10%;
}

footer {
  width: 100vw;
  background-color: white;
}

#gallery .album {
  width: 100%;
}
#gallery .album,
#gallery .containerProjects {
  background-color: #d3cdcd !important;
}
#gallery .album .containerProjects .card .card-head {
  position: relative;
  width: 100%;
}
#gallery .album .containerProjects .card .card-head .thumbnail {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
#gallery .album .containerProjects .card .card-head .btn {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
#gallery .album .containerProjects .card .card-head .thumbnail:hover {
  cursor: pointer;
}
#gallery .album .containerProjects .card .card-head:hover .thumbnail {
  opacity: 0.3;
}
#gallery .album .containerProjects .card .card-head:hover .btn {
  opacity: 1;
}
#gallery .album .containerProjects .col .card:has(.thumbnail:active) .thumbnail,
#gallery .album .containerProjects .col .card:has(.btn:active) .thumbnail {
  transform: scale(0.8);
}

#project-img-div {
  margin-top: 2rem;
}

@media screen and (max-width: 800px) {
  #project-img-div {
    margin-top: 2rem;
  }
}
#scrollspyServices {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
}

#scrollspyServices h3 {
  width: 130px;
  padding-top: 60px;
  color: white;
  border-bottom: 2px solid #ff9900;
  text-align: left;
}

#scrollspyServices .card {
  transition: 0.5s ease;
  cursor: pointer;
}

#scrollspyServices .card:hover {
  background-color: #ff9900;
}

#scrollspyServices p {
  color: white;
  text-align: left;
}

#scrollspyServices .card i {
  font-size: 50px;
  padding-top: 20px;
}

#scrollspyServices .card h2 {
  font-size: 20px;
  letter-spacing: 2px;
}

#card-link {
  width: 150px;
}

@media screen and (max-width: 800px) {
  #scrollspyServices {
    height: 130vh;
    width: 84.9%;
  }
  #scrollspyServices h3,
  p {
    margin-left: 1rem;
  }
  .linkServices {
    margin: 0 auto;
  }
  #card-link {
    width: 300px !important;
  }
  #undo {
    width: 80vw !important;
  }
}/*# sourceMappingURL=main.css.map */